body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial;
}

.auto-arrange-menu {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.5rem 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.auto-arrange-menu::-webkit-scrollbar {
  display: none;
}
@media (min-width: 576px) {
  .auto-arrange-menu {
    overflow: hidden;
    padding: 0.3rem 1rem;
  }
}
.auto-arrange-menu ul.menu {
  background: white;
  list-style: none;
  padding: 0;
  width: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all ease 0.6s;
}
@media (min-width: 576px) {
  .auto-arrange-menu ul.menu {
    width: 100%;
  }
}
.auto-arrange-menu ul.menu li {
  display: block;
  font-size: 1rem;
  line-height: 0;
}
.auto-arrange-menu ul.menu li:not(:last-child) a {
  border-right: 1px solid rgba(128, 128, 128, 0.4);
}
.auto-arrange-menu ul.menu li a {
  transition: all ease 0.5s;
  padding: 0 1rem 0;
  color: gray;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  line-height: 1.4;
  font-weight: 500;
}
.auto-arrange-menu ul.menu li a:hover {
  color: #13a3c5;
}
.auto-arrange-menu ul.menu li.current a {
  color: #b51bb7;
}
.auto-arrange-menu ul.menu li.dropdown-item {
  display: none;
}
@media (min-width: 576px) {
  .auto-arrange-menu ul.menu li.dropdown-item {
    display: block;
  }
}
.auto-arrange-menu ul.menu li.dropdown-item a {
  color: #303030;
  font-weight: 400;
}
.auto-arrange-menu ul.menu li.dropdown-item a:after {
  content: "";
  display: inline-block;
  margin-left: 0.3em;
  position: relative;
  top: -1px;
  width: 0;
  height: 0;
  border-left: 0.26rem solid transparent;
  border-right: 0.26rem solid transparent;
  border-top: 0.42rem solid #303030;
  transition: border-color ease 0.5s;
}
.auto-arrange-menu ul.menu li.dropdown-item a:hover {
  color: #13a3c5;
}
.auto-arrange-menu ul.menu li.dropdown-item a:hover:after {
  border-top-color: #13a3c5;
}
.auto-arrange-menu ul.auto-arrange-dropdown {
  padding: 0;
  display: none;
  position: absolute;
  z-index: 100;
  right: 0;
  background: white;
  max-width: 230px;
  width: 100%;
  box-shadow: 0rem 0.13rem 0.63rem rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  right: 2rem;
  opacity: 0;
  opacity: 1;
  transition: opacity ease 0.7s;
}
@media (min-width: 576px) {
  .auto-arrange-menu ul.auto-arrange-dropdown.active {
    display: block;
  }
}
.auto-arrange-menu ul.auto-arrange-dropdown li:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.auto-arrange-menu ul.auto-arrange-dropdown li.current a {
  color: #b51bb7;
}
.auto-arrange-menu ul.auto-arrange-dropdown li a {
  color: gray;
  text-decoration: none;
  font-size: 0.94rem;
  display: block;
  padding: 0.7rem 1.3rem;
  transition: all ease 0.5s;
}
.auto-arrange-menu ul.auto-arrange-dropdown li a:hover {
  background-color: rgba(128, 128, 128, 0.04);
  color: #13a3c5;
}

.swipe {
  display: block;
  background-color: rgba(128, 128, 128, 0.05);
  color: #adadad;
  max-width: 6.25rem;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
@media (min-width: 576px) {
  .swipe {
    display: none;
  }
}