$primary: #003e90;
$primary-light: #2681e2;
$primary-pale: #a4d0ea;
$primary-mid: #1759b0;
$primary-dark: #173357;
$secondary: #e4344c;
$yellow: #f6dd3f;
$yellow-mid: #cfb932;
$red: #ff566d;
$red-secondary: #e4344c;
$red-dark: #7a3640;
$success: #1a936f;
$error: #be4747;

// Grayscale
$black: #1e262d;
$black-dim: #333b41;
$gray: #737373;
$gray-medium: #b9bcbe; // Grayscale/gris intermedio
$gray-soft: #f3f3f3;
$white: #ffffff;

// Breakpoints
$xs: 500px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
