$primary: #b51bb7;
$secondary: #13a3c5;
$breakpoint: 576px;

body{
	padding: 0;
	margin: 0;
}

*{
	font-family: Arial;
}

.auto-arrange-menu {

	overflow-x: scroll;
	overflow-y: hidden;
	padding: .5rem 0;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
	@media (min-width: $breakpoint) {
		overflow: hidden;
		padding: .3rem 1rem;
	}
	ul.menu {
		background: white;
      list-style: none;
      padding: 0;
		width: max-content;
		display: flex;
		justify-content: center;
		position: relative;
		transition: all ease 0.6s;
		@media (min-width: $breakpoint) {
			width: 100%;
		}
		li {
			display: block;
			font-size: 1rem;
			line-height: 0;
			&:not(:last-child) {
				a {
						border-right: 1px solid rgba(gray, .4);
				}
			}
			a {
				transition: all ease .5s;
				padding: 0 1rem 0;
				color: gray;
				text-decoration: none;
				display: block;
				white-space: nowrap;
				line-height: 1.4;
				font-weight: 500;
				&:hover {
					color: $secondary;
				}
			}
			&.current {
				a {
					color: $primary;
				}
			}
		}
		li.dropdown-item {
			display: none;
			@media (min-width: $breakpoint){
				display: block;
			}
			a {
				color: #303030;
				font-weight: 400;
				&:after {
					content: "";
					display: inline-block;
					margin-left: 0.3em;
					position: relative;
					top: -1px;
					width: 0;
					height: 0;
					border-left: 0.26rem solid transparent;
					border-right: 0.26rem solid transparent;
					border-top: 0.42rem solid #303030;
					transition: border-color ease .5s;
				}
				&:hover{
					color: $secondary;
					&:after {
						border-top-color: $secondary;
					}
				}
			}
		}
	}
	ul.auto-arrange-dropdown {
		padding: 0;
		display: none;
		position: absolute;
		z-index: 100;
		right: 0;
		top: 2.6rem;
		background: white;
		max-width: 230px;
		width: 100%;
		box-shadow: 0rem 0.13rem 0.63rem rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		right: 2rem;
		opacity: 0;
		opacity: 1;
		transition: opacity ease 0.7s;
		@media (min-width: $breakpoint) {
			&.active {
				display: block;
			}
		}
		li {
			&:not(:last-child) {
				border-bottom: 1px solid rgba(gray, .2);
			}
			&.current{
				a{
					color: $primary;
				}
			}
			a {
				color: gray;
				text-decoration: none;
				font-size: 0.94rem;
				display: block;
				padding: 0.7rem 1.3rem;
				transition: all ease .5s;
				&:hover {
					background-color: rgba(gray, .04);
					color: $secondary;
				}
			}
		}
	}
}
.swipe{
	display: block;
	background-color: rgba(gray, .05);
	color: #adadad;
	max-width: 6.25rem;
	margin: 2rem auto;
	padding: .5rem 1rem;
	border-radius: 4px;
	@media (min-width: $breakpoint){
		display: none;
	}
}
